@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
	font-family: 'Poppins', sans-serif;
}

.main {
	display: flex;
	justify-content: center;
	height: 100vh; /* This ensures the container takes up the full viewport height */
	width: 100%;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}
.buttons {
	margin: 7px;
}

.showlink {
	text-decoration: none !important;
	color: white;
}
